@model Hostell.Models.User
@{
    ViewData["Tittle"] = "Account";
}
@if (User.Identity.IsAuthenticated)
{
    <h3> Имя пользователя:<i class="h4 text-primary"> @Model.UserName</i></h3>
    <h3> EMail:<i class="h4 text-primary"> @Model.Email</i></h3>
    <a class="btn btn-warning" asp-controller="Account" asp-action="ChangePassword">Сменить пароль</a><br/><br/>
    <form method="post" asp-controller="Account" asp-action="Logout">
      <button type="submit" class="btn btn-danger">Выйти</button>
    </form>
}
else
{
    <h2>Вы не авторизованы!</h2>
}

