<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hostell</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bg-light">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Главная</a>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="nav-link" asp-controller="Block" asp-action="Main">Блоки</a>
                    </li>
                    <li>
                        <a class="nav-link" asp-controller="Resident" asp-action="ResidentList">Проживающие</a>
                    </li>
                </ul>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <ul class="nav navbar-nav navbar-right">
                    <li><p class="nav-link text-light">@User.Identity.Name</p></li>
                    <li>
                        <a class="nav-link text-light"  asp-action="AboutAcc" asp-controller="Account">Управление аккаунтом</a>
                    </li>
                </ul>
            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="nav-link text-light" asp-action="Login" asp-controller="Account">Вход</a></li>
                    <li><a class="nav-link text-light" asp-action="Register" asp-controller="Account">Регистрация</a></li>
                </ul>
            }

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Hostell - <a asp-area="" asp-controller="Home" asp-action="Privacy">About</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
